@use "./variables" as *;
.card {
  width: 35rem;
  height: 50rem;
  border-radius: 1rem;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(../src/components/assets/pexels-luis-gomes-546819-min.jpg);
  background-size: cover;
  background-position: top left;
  box-shadow: 0.5rem 0.5rem 1rem 0.3rem $dark;
  overflow: hidden;
  transition: transform 200ms ease;
  @media (hover) {
    &:hover,
    &:focus-within {
      transform: scale(1.05);
    }
    &:hover &-title::after,
    &:focus-within &-title::after {
      transform: translateX(-2rem) scalex(1);
    }
    &:hover &-content,
    &:focus-within &-content {
      transform: translateY(0);
    }
    &:focus-within &-content {
      transition-duration: 0ms;
    }
    &:hover p,
    &:focus-within p {
      opacity: 1;
    }
  }
  &-content {
    background: linear-gradient(
      to top,
      rgba($dark, 1),
      rgba($dark, 0.5) 80%,
      rgba($dark, 0)
    );
    padding: 2rem;
    @media (hover) {
      transition: transform 500ms ease 200ms;
      transform: translateY(21rem);
    }
  }
  &-title {
    color: $light;
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;
    &::after {
      content: "";
      width: 30rem;
      height: 0.5rem;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      background-color: $secondary;
      @media (hover) {
        transform: translateX(-2rem) scale(0);
        transition: transform 200ms ease;
        transform-origin: left;
      }
    }
  }
  p {
    font-size: 1.6rem;
    margin-top: 1rem;
    color: $light;
    @media (hover) {
      opacity: 0;
      transition: opacity 500ms ease 200ms;
    }
  }
  button {
    color: $light;
    font-size: 1.6rem;
    border: none;
    border-radius: 0.5rem;
    height: 3rem;
    width: 10rem;
    margin-top: 1rem;
    cursor: pointer;
    background-color: $secondary;
    @media (hover) {
      transition: background-color 300ms ease;
      background-color: rgba($secondary, 0.5);
      &:hover,
      &:focus-within {
        background-color: rgba($secondary, 1);
      }
    }
  }
}
