@use "./variables" as *;
.card {
  width: 35rem;
  height: 50rem;
  border-radius: 1rem;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(../src/components/assets/pexels-luis-gomes-546819-min.jpg);
  background-size: cover;
  background-position: top left;
  box-shadow: 0.5rem 0.5rem 1rem 0.3rem $dark;
  overflow: hidden;
  transition: transform 200ms ease;
  &:hover {
    transform: scale(1.05);
  }
  &:hover &-title::after {
    transform: translateX(-2rem) scale(1);
  }
  &:hover &-content {
    transform: translateY(0);
  }
  &:hover p {
    opacity: 1;
  }
  &-content {
    background: linear-gradient(
      to top,
      rgba($dark, 1),
      rgba($dark, 0.5) 80%,
      rgba($dark, 0)
    );
    padding: 2rem;
    transition: transform 500ms ease 200ms;
    transform: translateY(21rem);
  }
  &-title {
    color: $light;
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;
    &::after {
      content: "";
      width: 30rem;
      height: 0.5rem;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      background-color: $secondary;
      transform: translateX(-2rem) scale(0);
      transition: transform 200ms ease;
      transform-origin: left;
    }
  }
  p {
    font-size: 1.6rem;
    margin-top: 1rem;
    color: $light;
    opacity: 0;
    transition: opacity 500ms ease 200ms;
  }
  button {
    background-color: rgba($secondary, 0.5);
    color: $light;
    font-size: 1.6rem;
    border: none;
    border-radius: 0.5rem;
    height: 3rem;
    width: 10rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 300ms ease;
    &:hover {
      background-color: rgba($secondary, 1);
    }
  }
}
