@use "./variables" as *;
.cursor {
  @media (hover) {
    display: block;
  }
  display: none;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background-color: #fff;
  mix-blend-mode: difference;
  pointer-events: none;
  position: fixed;
  z-index: 1000;
  transition: transform 200ms ease-in-out;
}
.pointer {
  transform: scale(0.3);
}
