@use "./variables" as *;
.section1 {
  height: 110vh;
  background-position: center center;
  background-image: url(../src/components/assets/pexels-pixabay-373543-min.jpg);
  background-size: cover;
  background-color: rgba($primary, 0.5);
  background-blend-mode: difference;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media only screen and(max-width:800px) {
    grid-template-columns: 1fr;
  }
}
.title {
  position: relative;
  z-index: 1;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  h1 {
    color: $light;
    font-size: 6.4rem;
    span {
      font-size: 1em;
      color: $primary;
    }
  }
  h3 {
    margin-top: 1em;
    color: $light;
    font-size: 2rem;
  }
  button {
    font-size: 4.5rem;
    margin-top: 1em;
    align-self: center;
    color: $light;
    background-color: $primary;
    width: 6.5em;
    height: 1.6em;
    border: 0.1em solid $primary;
    border-radius: 0.5rem;
    @media (hover) {
      transition: background-color 300ms ease;
      background-color: rgba($primary, 0.5);
      &:hover {
        background-color: rgba($primary, 1);
      }
    }
  }
}
.section2 {
  background-color: $dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    color: $light;
    font-size: 4.8rem;
    margin-top: 5rem;
  }
  .cont {
    display: grid;
    width: 100%;
    padding: 10rem 0 5rem 0;
    grid-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
}
