.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 20px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212121;
  height: 7vh;
  h1 {
    color: #eee;
    font-size: 2.6rem;
  }
  &-bar {
    width: 400px;
    ul {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-column-gap: 10px;
      list-style: none;
    }
  }
  &-link {
    color: #eee;
    text-decoration: none;
    transition: color 300ms ease;
    font-size: 1.4rem;
    &:hover {
      color: #6767eb;
    }
  }
}
