@use "./card";
@use "./home";
@use "./navbar";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  font-size: 10px;
}
@media only screen and(max-width:800px) {
  * {
    font-size: 7px;
  }
}
