@forward "./card";
@forward "./home";
@forward "./navbar";
@forward "./cursor";
@forward "./contact";
@forward "./dogs";
@forward "./selector";
@forward "./preload";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  font-size: 10px;
  @media (hover) {
    cursor: none;
  }
  @media only screen and(max-width:520px) {
    font-size: 8px;
  }
}
